.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #f5f5f5;
}

.label {
    -fx-font-size: 18px;
    -fx-text-fill: #34495E;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-font-size: 12px;
    -fx-selection-bar: #16a085;
}

.table-column {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-alignment: CENTER;
}

.button {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #3498db;
}

.table-column-header {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
