
.root {
    -fx-background-color: #F8FAFC;
    -fx-font-family: 'Segoe UI';
}


.label {
    -fx-text-fill: #2D3640;
    -fx-font-size: 24px;
    -fx-font-weight: 600;
    -fx-padding: 0 0 5px 0;
}


.hbox {
    -fx-padding: 15px 20px;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 5, 0, 0, 2);
}

.header-label {
    -fx-text-fill: #3A4045 !important;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-padding: 0 25px 0 0;
    -fx-min-width: 120px;
}


.list-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 10px 0;
}

.list-cell {
    -fx-background-color: #FFFFFF;
    -fx-padding: 15px 20px;
    -fx-border-color: #E0E4E7;
    -fx-border-width: 0 0 1px 0;
    -fx-font-size: 14px;
    -fx-text-fill: #2D3640;
}

.list-cell:filled:hover {
    -fx-background-color: #F5F6FA;
    -fx-cursor: hand;
}

.list-cell:filled:selected {
    -fx-background-color: #6FB2FF20;
}


.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #D1D9E0;
    -fx-background-radius: 4px;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}


.role-label {
    -fx-text-fill: #6FB2FF;
    -fx-font-weight: 600;
}