/* Style général */
.root {
    -fx-font-family: 'Arial';
    -fx-base: #ecf0f1;
}

/* Style des boutons */
.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #2980b9;
}

/* Style des onglets */
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #2c3e50;
}

.tab-pane .tab {
    -fx-background-color: #34495e;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.tab-pane .tab:selected {
    -fx-background-color: #3498db;
}

/* Style des listes */
.list-view {
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 5px;
}

/* Style des tableaux */
.table-view {
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 5px;
}

.table-view .column-header {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

/* Style des labels */
.label {
    -fx-text-fill: #2c3e50;
}